
html
{
    scroll-behavior:smooth;
    
}
* {
    box-sizing: border-box;
}
/* Custom scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(126, 126, 126); 
    border-radius: 0px;
}
   
::-webkit-scrollbar-thumb {
    background:#222; 
    border-radius: 25px;
    animation: 10s ease-in-out;
    block-size: 10px;
  
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 62, 62); 
}


.search-box {
    background-color: #222;
    border-radius: 6px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    cursor: default;
    min-height:800px;
}

.search-box input {
   
    width: 410px;
    height: 40px;
    padding: 0px 15px;
    margin: 35px auto 20px auto;
    background-color: #ffff;
    color: #222;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    font-size: 14px;
    outline: 4px;
}

.search-box input::placeholder {
    text-align: center;
    color: #919292;
}

.search-box input:hover , .search-box input:focus {
    outline: 4px;
    box-shadow: 0px 20px 32px 0px  rgba(0,0,0,0.3);
}

.search-box .sep {
    width: 1000px;
    height: 1.2px;
    background-color: rgb(77, 77, 77);
    position: absolute;
    top: 95px;
    right: 0px;
    left: 0px;
    margin: 15px auto;
    
}

.search-box .fa-search, .search-box .fa-hand-pointer-o{
    position: absolute;
    top: 70px;
    right: 0px;
    left: 0px;
    margin: 15px auto;
    font-size: 250px;
    color: #777777;
}

.search-box .fa-hand-pointer-o {
    top: 148px;
    font-size: 70px;
    right: 30px;
}

.search-box .icons {
    position: relative;
    z-index: 0;
}


.search-box .lower-body {
  
    z-index: 3;
    display:flex;
    margin: 0;
    border-radius: 16px;    
    justify-content: center;
    transition-delay: 5s;
    grid-gap: 15px;

   

}

.search-box ul {
    list-style-type: none;
    min-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 550px);
    grid-area: 10px;
    grid-auto-rows: auto;
    justify-content: center;
    /*border:  2px solid yellow;*/
}

.search-box ul a {
    text-decoration: none;
    color: white;
    display: none;
}

.search-box ul a li {
    margin: 30px ;
    padding: 10px;
    border-width: 2px;
    border-color: #222;
    border-radius: 6px;
    font-weight: bold;
    background-color: #222222;
    box-shadow: 0px 20px 32px 0px  rgba(0,0,0,0.3);
}
.search-box ul a li:hover , .search-box ul a li:focus {
    outline: 4px;
    box-shadow: 0px 20px 32px 0px  rgba(0,0,0,0.6);
}
.search-box .lower-body ul a li img {
    width: 165px;
    height: 80px;
    margin-left: 30%;
    margin-top: 1%;
    border-width: 2px;
    border-style: groove;
    border-color: white;
    border-radius: 4px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
    display: block;

}

.search-box ul a li h2 {
    text-align: center;
    margin: 8px 5px 8px 5px;
    display: block;
   font-weight: bold;
    letter-spacing: 1.5px;
    font-size: large;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px black;
}

.search-box ul a li h4 {
    text-align: center;
    margin: 35px 5px 8px 5px;
    font-size: medium;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    text-shadow: 1.5px 1.5px black;
    color: #777777;
}

.search-box ul a li h4 span {
    font-weight: normal;
}

.search-box #not-found {
    position: absolute;
    top: 280px;
    right: 0px;
    left: 0px;
    margin: 0px auto;
    display: none;
    color: #484848;
    font-size: 60px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px black;
    font-family: 'Patua One';
}